.brand{
    display: flex;
    margin-bottom: -25px

}
.container{
    width: 100%;
}
p#brandw{
    background-color:rgb(185, 15, 15);
    flex: 0.3;
    padding: 9px;
    text-align: center
}
p#middle{
    background-color: red;
    text-align: center;
    padding: 12px;
    flex: 0.2;
}
p#right{
    background-color: rgb(221, 221, 221);
    flex: 0.6;
}
.users{
    display: flex;
    
}
p#user{
    background-color: rgb(106, 207, 6);
    flex: 0.3;
    text-align: center;
    padding: 12px;
}
p#middle70{
    background-color:green ;
    flex: 0.7;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 13px;
}

