.table {
    border: 1;
    height: 200px;
}
.footer{
    text-align: center;
    background-color: aqua;
}
.header{
    background-color: aquamarine;
}
.btn{
    width: 100px;
    padding: 0;
}
iframe {
    width: 100%;
}