.content {
    display: flex;
    width: 100%;
    height: auto;
}
.content_left{
    float: 0.3;
}
#content_right{
    float: 0.7;
    text-align: center;
    background-color: lightpink;
}
.content_left a {
    font-size: 20px;
    
}
.banner {
    height: 200px;
    width: 100%;
}
.banner img {
    height: 150px;
    width: 100%;
    margin-top: 11px;
}
body {
    padding: 0;
    margin: 0;
}
#content_right img {
    height: 200px;
    width: 200;
}
.header{
    height: 79px;
}
#qty-1 {
    width: 48px;
}
.ps-2 {
    margin-left: -27px;
}
.footer {
    background-color: lightcyan;
    height: 70px;
    text-align: center;
}